.palavra-oculta {
    font-size: 2em;
    letter-spacing: 0,5em;
}
.letras-erradas {
  margin-top: 10xp;
}  
.forca{
height: 200px;
width: 150px; 
background-color: aliceblue;
margin: 20px auto;
position: relative;
}
.forca .parte {
position: absolute;
background-color: black;
}

.cabeca {
top: 20px;
left: 50%;
transform: translateX(-50%);
width: 40px;
height: 40px;
border-radius: 50%;
}
.corpo {
top: 70px;
left: 50%;
transform: translateX(-50%);
width: 10px;
height: 50px;
}


.braco-eaquerdo {
top: 70px;
left: calc(50% - 25px);
width: 30px;
height: 10px;
transition: rotate(45deg);
}
.braco-direito {
top: 70px;
right: calc(50% - 25px);
width: 30px;
height: 10px;
transform: rotate(-45deg);
}



.braco-eaquerda {
top: 125px;
right: calc(50% - 5px);
width: 30px;
height: 10px;
transform: rotate(45deg);
}
.perna-direita {
top: 125px;
right: calc(50% - 5px);
width: 30px;
height: 10px;
transform: rotate(-45deg);
}
.oculto {
    display: none;
}